@import './../../stylesheets/colors';
@import './../../stylesheets/mixins';

.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: $uship-blue;
}

.navbar-default .navbar-brand {
    color: $light-gray;
}

.navbar-default .navbar-nav > li > a {
    color: $light-gray;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darken($medium-gray, 30%);
}